@charset "UTF-8";
@import '~antd/dist/antd.css';

html{
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style:none;
  /*火狐下隐藏滚动条*/
  overflow:-moz-scrollbars-none;
}
::-webkit-scrollbar{
  display:none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding-top: 2px;
}

.homeUl>li {
  float: left;
  padding: 5px 30px; 
  list-style-type:none; 
}
.homeUl>li>a{
  color: white;
  text-decoration:none;
}
.homeUl{
  background:black; 
  height: 45px;
  font-size: 18px;
}

